<html>
  <head>
    <link
      rel="stylesheet"
      href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="public/assets/css/style.css" />
    <script src="public/assets/js/contact.js"></script>
    <title>Personal Web - Nurul Anisah</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-gray">
      <div class="container">
        <a class="navbar-brand me-5" href="/">
          <img src="/public/assets/logo.png" alt="" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active me-3" aria-current="page" href="/"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/add-project"
                >Add Project</a
              >
            </li>
          </ul>
          <a class="btn bg-black text-white active" aria-current="page" href="/contact-me"> Contact Me </a>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->

    <div
      class="container-contact-form d-flex justify-content-center align-items-center">
      <form action="" class="m-0" method="POST">
        <h1 class="text-center mb-3 mt-0 fs-2 fw-bold">GET IN TOUCH</h1>
        <div class="mb-2">
          <label for="input-name" class="form-label fs-6 fw-bolder">Name</label>
          <input
            type="text"
            class="form-control"
            id="input-name"
            placeholder="input your name..."
          />
        </div>
        <div class="mb-2">
          <label for="input-title" class="form-label fs-6 fw-bolder">Email</label>
          <input
            type="email"
            class="form-control"
            id="input-email"
            placeholder="example@gmail.com..."
          />
        </div>
        <div class="mb-2">
          <label for="input-title" class="form-label fs-6 fw-bolder">Phone Number</label>
          <input
            type="text"
            class="form-control"
            id="input-phone"
            placeholder="08xxxx..."
          />
        </div>
        <div class="mb-0">
          <label for="input-title" class="form-label fs-6 fw-bolder">Subject</label>
        </div>
        <div class="input-group">
          <select class="form-select" id="choose-subject" aria-label="Example select with button addon">
            <option selected>Choose...</option>
            <option value="Talk">Talk</option>
            <option value="Let's Collaboration">Let's Collaboration</option>
            <option value="Create Project">Create Project</option>
          </select>
        </div>
        <div class="mb-2 mt-2">
          <label for="input-content" class="form-label fs-6 fw-bolder">Your Message</label>
          <textarea
            class="form-control"
            id="input-message"
            rows="4"
            placeholder="Write here ..."
          ></textarea>
        </div>
        
        <div class="text-end mt-4">
          <button onclick="submitForm()" class="btn bg-black text-white px-4">submit</button>
        </div>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>